<article id="team-{{ id }}" class="team-member">
    {{ the_author_avatar(400, id) }}
    <h3>{{first_name}}</h3>
    <div class="info">
        <span><b>{{ affiliation | raw }}</b></span><br>
        <span><b>{{ bush_role | raw }}</b></span>
    </div>
    <div>{{bio_teaser | raw}}</div>
    <div><b><a href="/author/{{ user_name }}">Checkout my recipes...</a></b></div>
    {% if website or google or twitter or facebook or linkedin or pinterest or instagram %}
        <div id="author-social">
            <h4>Find me on</h4>
            {% if website %}
                <a href="{{ website }}" rel="nofollow" target="_blank" class="web">
                    <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x icon-background"></i>
                        <i class="fa fa-globe fa-stack-1x"></i>
                    </span>
                </a>
            {% endif %}
            {% if google %}
                <a href="{{ google }}" rel="nofollow" target="_blank" class="google-plus">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x icon-background"></i>
                            <i class="fa fa-google-plus fa-stack-1x"></i>
                        </span>
                </a>
            {% endif %}
            {% if twitter %}
                <a href="{{ twitter }}" rel="nofollow" target="_blank" class="twitter">
                    <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x icon-background"></i>
                        <i class="fa fa-twitter fa-stack-1x"></i>
                    </span>
                </a>
            {% endif %}
            {% if facebook %}
                <a href="{{ facebook }}" rel="nofollow" target="_blank" class="facebook">
                    <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x icon-background"></i>
                        <i class="fa fa-facebook fa-stack-1x"></i>
                    </span>
                </a>
            {% endif %}
            {% if linkedin %}
                <a href="{{ linkedin }}" rel="nofollow" target="_blank" class="linkedin">
                    <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x icon-background"></i>
                        <i class="fa fa-linkedin fa-stack-1x"></i>
                    </span>
                </a>
            {% endif %}
            {% if pinterest %}
                <a href="{{ pinterest }}" rel="nofollow" target="_blank" class="pinterest">
                    <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x icon-background"></i>
                        <i class="fa fa-pinterest fa-stack-1x"></i>
                    </span>
                </a>
            {% endif %}
            {% if instagram %}
                <a href="{{ instagram }}" rel="nofollow" target="_blank" class="instagram">
                    <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x icon-background"></i>
                        <i class="fa fa-instagram fa-stack-1x"></i>
                    </span>
                </a>
            {% endif %}
            {% if youtube %}
                <a href="{{ youtube }}" rel="nofollow" target="_blank" class="youtube">
                    <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x icon-background"></i>
                        <i class="fa fa-youtube fa-stack-1x"></i>
                    </span>
                </a>
            {% endif %}
        </div>
    {% endif %}
</article>
