{% extends 'template/main.html.twig' %}
{% set has_first_sidebar = true %}
{% block title %}
    <div class="row column">
        <h1 class="text-center">{{ author.name }}</h1>
        {% if author.overview %}<h4 id="author-overview">{{ author.overview }}</h4>{% endif %}
    </div>
{% endblock %}
{% block content %}
    {% if content %}
        <div class="bio-content">
            {{ author.bio | raw  }}
        </div>
        <h4>{{ the_author() | raw }}'s Recipes</h4>
        {% include 'partials/related.html.twig' with {'related': content, 'related_title': false }%}
        {% include 'partials/pagination.html.twig' %}
    {% else %}
        <h1>Nothing Found</h1>
    {% endif %}
{% endblock %}
{% block first_sidebar %}
    {% include 'partials/sidebar-author.html.twig' %}
    {{ the_field("sidebar_content") }}
{% endblock %}
{% block sidebar %}
    {% include 'partials/sidebar-author.html.twig' %}
    {{ the_field("sidebar_content") }}
{% endblock %}
